body {
    background: url(../../Model/img/wallpaper4.jpg) center 0 no-repeat fixed;
    background-size: cover;
    color: white;
    font-weight: 600;
}

h1 {
    text-align: center;
    margin: 2% 0 3% 0;
}

#infos_calcul {
    border: whitesmoke 2px solid;
    padding: 10px;
    margin-bottom: 2%;
    margin-right: 42%;
}

p, li {
    text-shadow: black 5px 3px 3px;
}

form div {
    text-shadow: black 2px 1px 2px;
    display: flex;
    margin-bottom: 2%;
    align-items: center;
}

form div:nth-child(1) > input {
    margin-right: 50px;
    margin-left: 5px;
    width: 5%;
}

form div:nth-child(2) > input {
    margin-left: 1%; 
}

#submit {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 20px;
    padding: 7px;
    color: black;
}

#submit:hover {
    background-color: #b23c00;
    color: white;
}

#submit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}